<h2 mat-dialog-title>กรุณาเลือกไฟล์เพื่ออัพโหลด</h2>
<mat-dialog-content class="mat-typography">
  <h3>ระบบการอัพโหลดรองรับไฟล์ .CSV เท่านั้น</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="primary">OK</button>
</mat-dialog-actions>