<router-outlet></router-outlet>
<mat-toolbar color="primary">
  <mat-icon style="color:#ffff">assignment_ind</mat-icon>&nbsp;&nbsp;<span
    class="texts">สำหรับนักศึกษา</span>&nbsp;&nbsp;
    
</mat-toolbar>
<mat-card class="center" style="text-align: center">
  <!-----------------------------------------------------  step1 --------------------------------------------------------->
  <mat-horizontal-stepper [linear]="isLinear" #stepper>

    <mat-step [stepControl]="selectFormControl" [editable]="isEditable">
      <form  style="margin-top:20px;text-align: center">
        <ng-template matStepLabel>เลือกปีการศึกษา</ng-template>
        <mat-form-field color="primary" appearance="outline" style="margin-top: 20px">
          <mat-select [formControl]="selectFormControl" required >
            <mat-option [value]="null">--เลือก--</mat-option>
            <div *ngFor="let i of years">
              <mat-option *ngIf="i.status" [value]="i.key">{{i.key}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>&nbsp;&nbsp;&nbsp;
        <mat-error *ngIf="selectFormControl.hasError('required')">โปรดเลือกปีการศึกษา</mat-error>
        <div style="margin-top:30px">
          <button mat-raised-button matStepperNext [disabled]="selectFormControl.invalid" (click)="getData()"
            style="background-color: #009933;color: rgb(255, 255, 255);">ตกลง</button>
            
        </div>
      </form>
    </mat-step>
<!-----------------------------------------------------  step2 --------------------------------------------------------->
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
      <form [formGroup]="firstFormGroup" style="margin-top:20px;text-align: center">
        <ng-template matStepLabel>กรอกรหัสนักศึกษา</ng-template>
        <ng-template matStepperIcon="edit">
          <mat-icon>person_add</mat-icon>
        </ng-template>
        <mat-form-field class="form-input" appearance="outline">
          <input style="font-size:16px;height:25px;" matInput placeholder="Bxxxxxxx" formControlName="firstCtrl"
            required [(ngModel)]="books.id" name="Student_ID">
        </mat-form-field>&nbsp;&nbsp;&nbsp;
        <mat-icon *ngIf='check_id' style="color: #009933">how_to_reg</mat-icon>
        <div style="margin-top:50px">
          <button *ngIf='!check_id'  mat-raised-button (click)='check_book()'
            style="background-color: goldenrod;">ตรวจสอบ</button>&nbsp;&nbsp;
          <button *ngIf='!shows' mat-raised-button color="primary" (click)="openDialogTable()">ประวัติ</button>
          <button *ngIf='check_id && !isDeadLine' mat-raised-button matStepperNext (click)='check_book();checkteacher()'
            style="background-color: #009933;color: rgb(255, 255, 255);">ตกลง</button>
        </div>
        <div>
          <button mat-raised-button color="primary" *ngIf='check_id && isDeadLine' (click)="alertMessage()">ย้อนกลับ</button>
        </div>
      </form>
    </mat-step>

    <!-----------------------------------------------------  step3 --------------------------------------------------------->

    <mat-step [stepControl]="secondFormGroup" >
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel *ngIf="!teaLen">เลือกอาจารย์</ng-template>
        <ng-template matStepLabel *ngIf="teaLen">เลือกอาจารย์ {{teaLen}} อันดับ</ng-template>
        <ng-template matStepperIcon>
          <mat-icon>person_add</mat-icon>
        </ng-template>
        <mat-card-content style="text-align: center">
          <mat-card-subtitle style="text-align:center;width: 35%;margin-left: auto;margin-right: auto;">
            <p>รหัสประจำตัว: {{ books.id }}</p>
            <p>ชื่อ-สกุล: {{ books.name }}</p>
            <p>เกรดเฉลี่ย: {{ books.gpa }}</p>
          </mat-card-subtitle>

          <div *ngIf="chk_option_val.chkOption01" style="margin-top:30px;width: auto;">
            <span for="sel1">1. &nbsp;&nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption01"
            (ngModelChange)="callCheckRepeat(books.selectedOption01,'selectedOption01')" formControlName="secondCtrl1"
              name="teacher1">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>

          <div *ngIf="chk_option_val.chkOption02" style="margin-top:20px">
            <span for="sel2">2. &nbsp;&nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption02"
            (ngModelChange)="callCheckRepeat(books.selectedOption02,'selectedOption02')" formControlName="secondCtrl2"
              name="teacher2">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>

          <div *ngIf="chk_option_val.chkOption03" style="margin-top:20px">
            <span for="sel3">3. &nbsp;&nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption03"
              (ngModelChange)="callCheckRepeat(books.selectedOption03,'selectedOption03')" formControlName="secondCtrl3"
              name="teacher3">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>

          <div *ngIf="chk_option_val.chkOption04" style="margin-top:20px">
            <span for="sel4">4. &nbsp;&nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption04"
              (ngModelChange)="callCheckRepeat(books.selectedOption04,'selectedOption04')" formControlName="secondCtrl4"
              name="teacher4">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>

          <div *ngIf="chk_option_val.chkOption05" style="margin-top:20px">
            <span for="sel5">5. &nbsp;&nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption05"
              (ngModelChange)="callCheckRepeat(books.selectedOption05,'selectedOption05')" formControlName="secondCtrl5"
              name="teacher5">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>

          <div *ngIf="chk_option_val.chkOption06" style="margin-top:20px">
            <span for="sel6">6. &nbsp;&nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption06"
              (ngModelChange)="callCheckRepeat(books.selectedOption06,'selectedOption06')" formControlName="secondCtrl6"
              name="teacher6">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>

          <div *ngIf="chk_option_val.chkOption07" style="margin-top:20px">
            <span for="sel7">7. &nbsp;&nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption07"
              (ngModelChange)="callCheckRepeat(books.selectedOption07,'selectedOption07')" formControlName="secondCtrl7"
              name="teacher7">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>

          <div *ngIf="chk_option_val.chkOption08" style="margin-top:20px">
            <span for="sel8">8. &nbsp;&nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption08"
              (ngModelChange)="callCheckRepeat(books.selectedOption08,'selectedOption08')" formControlName="secondCtrl8"
              name="teacher8">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>

          <div *ngIf="chk_option_val.chkOption09" style="margin-top:20px">
            <span for="sel9">9. &nbsp;&nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption09"
              (ngModelChange)="callCheckRepeat(books.selectedOption09,'selectedOption09')" formControlName="secondCtrl9"
              name="teacher9">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>

          <div *ngIf="chk_option_val.chkOption10" style="margin-top:20px">
            <span for="sel10">10. &nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption10"
              (ngModelChange)="callCheckRepeat(books.selectedOption10,'selectedOption10')" formControlName="secondCtrl10"
              name="teacher10">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>
          <div *ngIf="chk_option_val.chkOption11" style="margin-top:20px">
            <span for="sel11">11. &nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption11"
              (ngModelChange)="callCheckRepeat(books.selectedOption11,'selectedOption11')" formControlName="secondCtrl11"
              name="teacher11">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>
          <div *ngIf="chk_option_val.chkOption12" style="margin-top:20px">
            <span for="sel12">12. &nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption12"
              (ngModelChange)="callCheckRepeat(books.selectedOption12,'selectedOption12')" formControlName="secondCtrl12"
              name="teacher12">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>
          <div *ngIf="chk_option_val.chkOption13" style="margin-top:20px">
            <span for="sel13">13. &nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption13"
              (ngModelChange)="callCheckRepeat(books.selectedOption13,'selectedOption13')" formControlName="secondCtrl13"
              name="teacher13">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>
          <div *ngIf="chk_option_val.chkOption14" style="margin-top:20px">
            <span for="sel14">14. &nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption14"
              (ngModelChange)="callCheckRepeat(books.selectedOption14,'selectedOption14')" formControlName="secondCtrl14"
              name="teacher14">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>
          <div *ngIf="chk_option_val.chkOption15" style="margin-top:20px">
            <span for="sel15">15. &nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption15"
              (ngModelChange)="callCheckRepeat(books.selectedOption15,'selectedOption15')" formControlName="secondCtrl15"
              name="teacher15">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>
          <div *ngIf="chk_option_val.chkOption16" style="margin-top:20px">
            <span for="sel16">16. &nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption16"
              (ngModelChange)="callCheckRepeat(books.selectedOption16,'selectedOption16')" formControlName="secondCtrl16"
              name="teacher16">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>
          <div *ngIf="chk_option_val.chkOption17" style="margin-top:20px">
            <span for="sel17">17. &nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption17"
              (ngModelChange)="callCheckRepeat(books.selectedOption17,'selectedOption17')" formControlName="secondCtrl17"
              name="teacher17">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>
          <div *ngIf="chk_option_val.chkOption18" style="margin-top:20px">
            <span for="sel18">18. &nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption18"
              (ngModelChange)="callCheckRepeat(books.selectedOption18,'selectedOption18')" formControlName="secondCtrl18"
              name="teacher18">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>
          <div *ngIf="chk_option_val.chkOption14" style="margin-top:20px">
            <span for="sel19">19. &nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption19"
              (ngModelChange)="callCheckRepeat(books.selectedOption19,'selectedOption19')" formControlName="secondCtrl19"
              name="teacher19">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>
          <div *ngIf="chk_option_val.chkOption20" style="margin-top:20px">
            <span for="sel20">20. &nbsp;</span>
            <nz-select style="border-radius: 7px" class="custom" [(ngModel)]="books.selectedOption20"
              (ngModelChange)="callCheckRepeat(books.selectedOption20,'selectedOption20')" formControlName="secondCtrl20"
              name="teacher20">
              <nz-option></nz-option>
              <nz-option *ngFor="let item of teacherData" [nzValue]="item.fullName" [nzLabel]="item.fullName">
              </nz-option>
            </nz-select>
          </div>
        </mat-card-content>
        <div style="margin-top:50px">
          <button nz-button nzType="primary" style="background-color: rgb(202, 55, 50);color: rgb(255, 255, 255);border-color:rgb(255, 255, 255)" 
          nzSize ="large"(click)="stepper.reset();check_book()">
          กลับ
          </button>
           &nbsp;&nbsp;&nbsp;
            <button nz-button nzType="primary" nzSize ="large" matStepperNext 
            [disabled]="secondFormGroup.invalid" style="background-color: #009933;color: rgb(255, 255, 255);">ตกลง
            </button>
         
            
        </div>
      </form>
    </mat-step>

    <!-----------------------------------------------------  step4 --------------------------------------------------------->

    <mat-step>
      <ng-template matStepLabel>ตรวจสอบข้อมูล</ng-template>
      <mat-card-subtitle style="text-align:center;width: auto;margin-left: auto;margin-right: auto;">
        <p>รหัสประจำตัว: {{ books.id }}</p>
        <p>ชื่อ-สกุล: {{ books.name }}</p>
        <p>เกรดเฉลี่ย: {{ books.gpa }}</p>
      </mat-card-subtitle>
      <mat-card style="width: 50%;margin-left: auto;margin-right: auto">
        <mat-list>
          <mat-list-item *ngIf="chk_option_val.chkOption01">1. {{books.selectedOption01}}</mat-list-item>

          <mat-list-item *ngIf="chk_option_val.chkOption02">2. {{books.selectedOption02}}</mat-list-item>

          <mat-list-item *ngIf="chk_option_val.chkOption03">3. {{books.selectedOption03}}</mat-list-item>

          <mat-list-item *ngIf="chk_option_val.chkOption04">4. {{books.selectedOption04}}</mat-list-item>

          <mat-list-item *ngIf="chk_option_val.chkOption05">5. {{books.selectedOption05}}</mat-list-item>

          <mat-list-item *ngIf="chk_option_val.chkOption06">6. {{books.selectedOption06}}</mat-list-item>

          <mat-list-item *ngIf="chk_option_val.chkOption07">7. {{books.selectedOption07}}</mat-list-item>

          <mat-list-item *ngIf="chk_option_val.chkOption08">8. {{books.selectedOption08}}</mat-list-item>

          <mat-list-item *ngIf="chk_option_val.chkOption09">9. {{books.selectedOption09}}</mat-list-item>

          <mat-list-item *ngIf="chk_option_val.chkOption10">10. {{books.selectedOption10}}</mat-list-item>

          <mat-list-item *ngIf="chk_option_val.chkOption11">11. {{books.selectedOption11}}</mat-list-item>

          <mat-list-item *ngIf="chk_option_val.chkOption12">12. {{books.selectedOption12}}</mat-list-item>

          <mat-list-item *ngIf="chk_option_val.chkOption13">13. {{books.selectedOption13}}</mat-list-item>

          <mat-list-item *ngIf="chk_option_val.chkOption14">14. {{books.selectedOption14}}</mat-list-item>

          <mat-list-item *ngIf="chk_option_val.chkOption15">15. {{books.selectedOption15}}</mat-list-item>

          <mat-list-item *ngIf="chk_option_val.chkOption16">16. {{books.selectedOption16}}</mat-list-item>

          <mat-list-item *ngIf="chk_option_val.chkOption17">17. {{books.selectedOption17}}</mat-list-item>

          <mat-list-item *ngIf="chk_option_val.chkOption18">18. {{books.selectedOption18}}</mat-list-item>

          <mat-list-item *ngIf="chk_option_val.chkOption19">19. {{books.selectedOption19}}</mat-list-item>

          <mat-list-item *ngIf="chk_option_val.chkOption20">20. {{books.selectedOption20}}</mat-list-item>
        </mat-list>
      </mat-card>
      <div style="margin-top: 30px">
        <button nz-button nzType="primary" style="background-color: goldenrod;color: rgb(255, 255, 255);border-color:rgb(255, 255, 255)" 
          nzSize ="large" matStepperPrevious>กลับ</button>
      &nbsp;&nbsp;&nbsp;
      <button nz-button nzType="primary" nzSize ="large"  
       style="background-color: #009933;color: rgb(255, 255, 255);border-color:rgb(255, 255, 255)" (click)="addData();stepper.reset();check_book()">
       ตกลง
      </button>
      &nbsp;&nbsp;&nbsp;
          <button
          nzSize ="large"
          nz-popconfirm
          nzTitle="คุณต้องการที่จะยกเลิก?"
          (nzOnConfirm)="confirm()"
          (nzOnCancel)="cancel(stepper)"
          [nzIcon]="iconTpl"
          nzOkText = "ทำต่อ"
          nzCancelText = "ตกลง"
          nz-button
          style="background-color: rgb(202, 55, 50);color: rgb(255, 255, 255);"
        >
          ยกเลิก
          <ng-template #iconTpl>
            <i nz-icon nzType="question-circle-o" style="color: red;"></i>
          </ng-template>
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  <mat-card-subtitle style="text-align: right;margin-top: 5%">
      <div *ngIf = "showDeadline" class="ant-statistic-content-value">
          <nz-tag [nzColor]="'geekblue'">
          <nz-countdown #deadLine
         class="ant-statistic-content" 
          [nzValue]="dateTime" 
          [nzFormat]="'D วัน H ชั่วโมง m นาที s วินาที'" >
          </nz-countdown>
          </nz-tag>
        </div>
  </mat-card-subtitle>
</mat-card>