<h2 mat-dialog-title><i class="material-icons md-36">assignment</i> ประวัติการลงทะเบียน </h2>
<mat-dialog-content class="mat-typography">
    <mat-card>
        <mat-list>
            <b>ชื่อนักศึกษา</b>
            <mat-list-item style="background-color: #cccccc"> {{bookData.StudentName}} </mat-list-item>
            <br>
            <b>ผลการจัดอันดับ</b>&nbsp;<i *ngIf='chkBookTeacher' style="color: red">(อยู่ระหว่างการรอประกาศผล)</i>
            <mat-list-item *ngIf='!chkBookTeacher' style="background-color: #b5dd90"> {{bookTeacherData}}</mat-list-item>
            <mat-list-item *ngIf='chkBookTeacher'> - </mat-list-item>
            <div>
                <br>
                <b>อันดับอาจารย์</b>
                <br>
                <i *ngIf='chkUnsign' style="color: red">(ระบบได้ทำการจัดอันดับให้ท่านโดยอัตโนมัติ<br> 
                    เนื่องจากไม่มีการเลือกอันดับอาจารย์)</i>
                <mat-list-item> {{bookData.Teacher01}} </mat-list-item>

                <mat-list-item> {{bookData.Teacher02}} </mat-list-item>

                <mat-list-item> {{bookData.Teacher03}} </mat-list-item>

                <mat-list-item> {{bookData.Teacher04}} </mat-list-item>

                <mat-list-item> {{bookData.Teacher05}} </mat-list-item>

                <mat-list-item> {{bookData.Teacher06}} </mat-list-item>

                <mat-list-item> {{bookData.Teacher07}} </mat-list-item>

                <mat-list-item> {{bookData.Teacher08}} </mat-list-item>

                <mat-list-item> {{bookData.Teacher09}} </mat-list-item>

                <mat-list-item> {{bookData.Teacher10}} </mat-list-item>

                <mat-list-item> {{bookData.Teacher11}} </mat-list-item>
                
                <mat-list-item> {{bookData.Teacher12}} </mat-list-item>

                <mat-list-item> {{bookData.Teacher13}} </mat-list-item>

                <mat-list-item> {{bookData.Teacher14}} </mat-list-item>

                <mat-list-item> {{bookData.Teacher15}} </mat-list-item>

                <mat-list-item> {{bookData.Teacher16}} </mat-list-item>

                <mat-list-item> {{bookData.Teacher17}} </mat-list-item>

                <mat-list-item> {{bookData.Teacher18}} </mat-list-item>

                <mat-list-item> {{bookData.Teacher19}} </mat-list-item>

                <mat-list-item> {{bookData.Teacher20}} </mat-list-item>

            </div>

        </mat-list>
    </mat-card>

</mat-dialog-content>
<mat-dialog-actions align="end">

    <!-- <button mat-button (click)="downloadCsv()">
    <i class="material-icons md-14">cloud_download</i> Open report
    </button> -->

</mat-dialog-actions>