@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  font-family: Arial, Helvetica, sans-serif;
}
.example-form {
  margin-top: 30px;
  min-width: 400px;
  max-width: 100%;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.form-input {
  width: 30%;
  height: 60px;
}
.center{
  width: 75%;
  margin: 30px auto;
}
.example-card {
  max-width: 800px;
}
.custom{
  width:30%;
}

:host /deep/ .mat-step-icon {
  background-color: rgb(236, 57, 57);
  color: #fff !important;
}

:host /deep/ .mat-step-icon-selected,
:host /deep/ .mat-step-icon-state-done,
:host /deep/ .mat-step-icon-state-edit {
background-color: #009933;
color:#fff;
} 
.texts{
text-align: center;
font-size: 16px;

}
.space{ 
  padding-left: 40% ;
}
.ant-statistic-content {
  font-size: 1.5em;
  font-family: Tahoma,'Helvetica Neue',-apple-system,BlinkMacSystemFont,'Segoe UI','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}